Repository jbeichter/fon4food, pull requests merged in 2020-04, with the labels that each got.

#13 Use bootstrap instead of Angular Material
  backend/.gitignore
  backend/Dockerfile
  backend/build.gradle
  backend/src/main/java/de/fon4food/backend/UserInfo.java
  backend/src/main/java/de/fon4food/backend/VendorController.java
  backend/src/main/java/de/fon4food/backend/security/LoginController.java
  backend/src/main/java/de/fon4food/backend/security/SecurityConfiguration.java
  backend/src/main/java/de/fon4food/backend/security/UserController.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/banner.txt
  backend/src/test/resources/application.properties
  docker-compose.yml
  docs/index.md
  frontend/.dockerignore
  frontend/angular.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.component.scss
  frontend/src/app/app.component.ts
  frontend/src/app/app.module.ts
  frontend/src/app/services/user.service.model.ts
  frontend/src/app/services/user.service.ts
  frontend/src/app/services/xhr-interceptor.service.ts
  frontend/src/app/services/xhr-interceptor.spec.ts
  frontend/src/app/views/about/about.component.html
  frontend/src/app/views/about/about.component.scss
  frontend/src/app/views/about/about.component.spec.ts
  frontend/src/app/views/about/about.component.ts
  frontend/src/app/views/delivery/delivery.component.html
  frontend/src/app/views/delivery/delivery.component.ts
  frontend/src/app/views/delivery/delivery.guard.ts
  frontend/src/app/views/delivery/order/delivery-order.component.html
  frontend/src/app/views/login/login.component.html
  frontend/src/app/views/login/login.component.scss
  frontend/src/app/views/login/login.component.ts
  frontend/src/app/views/start/start.component.html
  frontend/src/app/views/start/start.component.scss
  frontend/src/app/views/start/start.component.ts
  frontend/src/app/views/vendor/order/vendor-order.component.html
  frontend/src/app/views/vendor/vendor.component.html
  frontend/src/app/views/vendor/vendor.component.ts
  frontend/src/app/views/vendor/vendor.guard.ts
  frontend/src/app/views/vendors-list/vendors-list.component.html
  frontend/src/app/views/vendors-list/vendors-list.component.scss
  frontend/src/app/views/vendors-list/vendors-list.component.ts
  frontend/src/app/views/vendors-list/zip-filter.pipe.spec.ts
  frontend/src/app/views/vendors-list/zip-filter.pipe.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/src/assets/images/fon4food-logo.svg
  frontend/src/environments/environment.prod.ts
  frontend/src/environments/environment.ts
  frontend/src/index.html
  frontend/src/styles.scss
  frontend/tslint.json
  mariadb/1-schema.sql
  mariadb/2-data.sql
  mariadb/Dockerfile
Labels: backend, enhancement, frontend

#18 close #16 Database migrations (using Liquibase)
  backend/build.gradle
  backend/src/main/java/de/fon4food/backend/model/auth/CustomUserDetailsService.java
  backend/src/main/java/de/fon4food/backend/model/auth/CustomUserPrincipal.java
  backend/src/main/java/de/fon4food/backend/model/auth/Role.java
  backend/src/main/java/de/fon4food/backend/model/auth/User.java
  backend/src/main/java/de/fon4food/backend/model/auth/UserRepository.java
  backend/src/main/java/de/fon4food/backend/security/SecurityConfiguration.java
  backend/src/main/resources/db/changelog/db.changelog-master.yaml
  backend/src/main/resources/db/changelog/migrations/1-spring-security-auth.yaml
  backend/src/main/resources/db/changelog/migrations/2-spring-security-auth-test-data.yaml
  frontend/src/app/services/user.service.ts
  mariadb/1-schema.sql
  mariadb/2-data.sql
  mariadb/Dockerfile
  mariadb/lowercase_table_names.cnf
Labels: backend

#24 19 legal notice
  frontend/src/app/app-routing.model.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.component.html
  frontend/src/app/app.module.ts
  frontend/src/app/components/footer/footer.component.html
  frontend/src/app/components/footer/footer.component.scss
  frontend/src/app/components/footer/footer.component.spec.ts
  frontend/src/app/components/footer/footer.component.ts
  frontend/src/app/views/legal/legal.component.html
  frontend/src/app/views/legal/legal.component.scss
  frontend/src/app/views/legal/legal.component.spec.ts
  frontend/src/app/views/legal/legal.component.ts
  frontend/src/index.html
Labels: enhancement, frontend

#26 added missing english translation
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
Labels: frontend

#30 Send mails
  backend/build.gradle
  backend/src/main/java/META-INF/additional-spring-configuration-metadata.json
  backend/src/main/java/de/fon4food/backend/CustomConfiguration.java
  backend/src/main/java/de/fon4food/backend/mail/EmailService.java
  backend/src/main/java/de/fon4food/backend/mail/EmailServiceImpl.java
  backend/src/main/java/de/fon4food/backend/mail/SpringMailConfig.java
  backend/src/main/java/de/fon4food/backend/security/RegistrationController.java
  backend/src/main/java/de/fon4food/backend/security/RegistrationInfo.java
  backend/src/main/java/de/fon4food/backend/security/SecurityConfiguration.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/db/changelog/migrations/2-spring-security-auth-test-data.yaml
  backend/src/main/resources/mail/html/common.html
  backend/src/main/resources/mail/html/registration-please-confirm.html
  backend/src/main/resources/mail/images/logo.svg
  backend/src/main/resources/mail/text/common.txt
  backend/src/main/resources/mail/text/registration-please-confirm.txt
  backend/src/main/resources/messages.properties
  backend/src/main/resources/messages_de.properties
  docker-compose.yml
  mail/Dockerfile
  mail/postfix-accounts.cf
Labels: backend

#41 Create "Set new password" page
  frontend/src/app/app-routing.model.ts
  frontend/src/app/app-routing.module.ts
  frontend/src/app/app.module.ts
  frontend/src/app/components/alert/alert.component.html
  frontend/src/app/components/alert/alert.component.scss
  frontend/src/app/components/alert/alert.component.spec.ts
  frontend/src/app/components/alert/alert.component.ts
  frontend/src/app/components/alert/alert.model.ts
  frontend/src/app/form-validators/has-majuscules.validator.ts
  frontend/src/app/form-validators/has-minuscules.validator.ts
  frontend/src/app/form-validators/has-numbers.validator.ts
  frontend/src/app/form-validators/has-special-characters.validator.ts
  frontend/src/app/form-validators/same.validator.ts
  frontend/src/app/views/set-pw/set-pw.component.html
  frontend/src/app/views/set-pw/set-pw.component.scss
  frontend/src/app/views/set-pw/set-pw.component.spec.ts
  frontend/src/app/views/set-pw/set-pw.component.ts
  frontend/src/app/views/sign-up/sign-up.component.html
  frontend/src/app/views/sign-up/sign-up.component.ts
  frontend/src/assets/i18n/de.json
  frontend/src/assets/i18n/en.json
  frontend/src/styles/helpers.scss
Labels: frontend
